<footer>
    <div class="container-top">
        <ul class="footer box_blackshadow">
            <ul class="footer__top">
                <div class="footer__promo">
                    <div class="footer__logo"><a href="{{ base }}" class="logo"><img src="/src/img/Logo1920.png" alt="Logo"></a>
                    </div>

                    <div class="footer__promo-descr">We believe in the power of play to foster creativity,
                        problem-solving skills, and imagination.</div>

                    <div class="footer__promo-email">
                        <a href="#" class="footer__promo-box">
                            <img src="/node_modules/heroicons/24/solid/envelope.svg" alt="envelope">
                        </a>hello@littlelearners.com
                    </div>
                    <div class="footer__promo-phone">
                        <a href="#" class="footer__promo-box">
                            <img src="/node_modules/heroicons/24/solid/phone.svg" alt="phone">
                        </a>+91 91813 23 2309
                    </div>
                    <div class="footer__promo-map">
                        <a href="#" class="footer__promo-box">
                            <img src="/node_modules/heroicons/24/solid/map-pin.svg" alt="map-pin">
                        </a>Somewhere in the World
                    </div>
                </div>

                <ul class="footer__menu">
                    <li class="footer__menu-column">
                        <a href="{{ base }}" class="footer__menu-title">Home</a>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item"><a href="{{ base }}#features">Features</a></li>
                            <li class="footer__menu-item"><a href="{{ base }}#testimonials">Our Testimonials</a></li>
                            <li class="footer__menu-item"><a href="{{ base }}#faq">FAQ</a></li>
                        </ul>
                    </li>

                    <li class="footer__menu-column">
                        <a href="{{ base }}about.html" class="footer__menu-title">About Us</a>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item"><a href="#">Our Mission</a></li>
                            <li class="footer__menu-item"><a href="#">Our Vission</a></li>
                            <li class="footer__menu-item"><a href="#">Awards and Recognitions</a></li>
                            <li class="footer__menu-item"><a href="#">History</a></li>
                            <li class="footer__menu-item"><a href="#">Teachers</a></li>
                        </ul>
                    </li>

                    <li class="footer__menu-column">
                        <a href="#" class="footer__menu-title">Academics</a>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item"><a href="#">Special Features</a></li>
                            <li class="footer__menu-item"><a href="#">Gallery</a></li>
                        </ul>
                    </li>

                    <li class="footer__menu-column">
                        <a href="#" class="footer__menu-title">Contact Us</a>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item"><a href="#">Information</a></li>
                            <li class="footer__menu-item"><a href="#">Map & Direction</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>

            <div class="footer__links">
                <div class="footer__security">
                    <a href="#" class="footer__security-link">Terms of Service</a>
                    <a href="#" class="footer__security-link">Privacy Policy</a>
                    <a href="#" class="footer__security-link">Cookie Policy</a>
                </div>
                <div class="footer__buttons">
                    <a href="#"><img src="/src/icons/footer/face.png" alt="facebook"></a>
                    <a href="#"><img src="/src/icons/footer/twit.png" alt="twiter"></a>
                    <a href="#"><img src="/src/icons/footer/in.png" alt="in"></a>
                </div>
            </div>

            <div class="footer__bottom">Copyright © [2023] Little Learners Academy. All rights reserved.</div>
    </div>
    </div>
</footer>